<table class="tx-fluidce" >
	<tr>
		<td>
			<f:translate key="tx_fluidce_domain_model_page.name" />
		</td>
		<td>
			{page.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fluidce_domain_model_page.navigation_title" />
		</td>
		<td>
			{page.navigationTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fluidce_domain_model_page.layout" />
		</td>
		<td>
			{page.layout}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fluidce_domain_model_page.hide_in_menu" />
		</td>
		<td>
			{page.hideInMenu}
		</td>
	</tr>
</table>